.page2 {
    margin-top: 10rem;
    margin-bottom: 15rem;
}

del {
    text-decoration: line-through;
}

.icon {
    width: 8rem;
}

.icon:hover {
    animation: swing 0.5s ease;
    cursor: pointer;
}

#contacts .imgs {
    margin-top: 12rem;
}

@keyframes swing {
    30% {
        transform: translateX(-1rem);
        -webkit-animation: translateX(-1rem);
    }

    50% {
        transform: translateX(0);
        -webkit-animation: translateX(0);
    }

    70% {
        transform: translateX(-1rem);
        -webkit-animation: translateX(-1rem);
    }
        
    100% {
        transform: translateX(0rem);
        -webkit-animation: translateX(0rem);
    }

}

/* MEDIA QUERY*/

/* small mobiles */
@media (max-width: 480px) { 
    .icon {
        width: 8rem;
        padding: 5rem 0;
    }
    #contacts .imgs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }

}









