ul li:nth-child(4):hover {
    border-top: solid #BF1111;
}

#color3 {
    color: #BF1111;
}

.courses, .e-courses {
    display: flex;
    justify-content: space-around;

}

.course {
    background-color: var(--subtexts-panel);
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 1rem;
    width: 50rem;
}

.course:hover {
    background-color: rgba(119, 70, 70, 0.438);
}

.course > .img {
    width: 5rem;
    padding: 0;
}

.info {
    font-size: 2rem;
    margin: 0;
}

.subInfo {
    font-size: 1.6rem;
    margin: 0; 
    color: var(--color-subtexts)
}

/* MEDIA QUERY */

/* medium mobiles and tablets */
@media (max-width: 768px) {
    .courses, .e-courses {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .course {
        padding: 0.5rem 1rem;
        margin: 0.5rem;
        width: 40rem;
    }

    .course > .img {
        width: 3rem;
    }

    .info {
        font-size: 1.6rem;
    }
    
    .subInfo {
        font-size: 1.2rem;
    }

    /* small mobiles */
@media (max-width: 460px) {
    .course {
        width: 90%;
    }
}