.page:nth-child(1) {
    justify-content: center;
    text-align: justify;
}

.pageTitle:nth-child(1) {
    color: #c50294dc;
    opacity: 0;
    transform: translate3d(-5rem, 0, 0);
    animation: show 0.9s 1.7s ease forwards;
}

#main.pageSub::after {
    content: '|';
    margin-left: 1rem;
    animation: cursor 0.8s infinite;
}

.pageSub {
    color: var(--color-texts)
}

/* main page animation */

@keyframes cursor {
    0% {
        color: var(--color-texts);
    }

    50% {
        color: transparent;
    }

    100% {
        color: var(--color-texts);
    }
}

@keyframes show {
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}