#skills .imgs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

#skills .skill_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
}

#skills .img:hover, .img2:hover {
    transform: rotate(10deg)
}

#skills .img {
    width: 10rem;
    padding: 0 1rem;
}

#skills .img2 {
    width: 14rem;
    padding: 0 1rem;
}

.skill_label {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    background-color: #b8b8b879;
    border-radius: 2rem;
    margin-top: 2rem;
    padding: 1rem;
}

/*    MEDIA QUERIES    */

/* medium mobiles and tablets */
@media (max-width: 768px) {
    #skills .imgs {
        grid-template-columns: repeat(4, 1fr);
    }
    
    #skills .img {
        width: 8rem;
        margin-bottom: 0.5rem;
    }

    .skill_label {
        font-size: 1.4rem;
        font-weight: lighter;
        margin-top: 1rem;
        padding: 0.5rem;
    }
}

/* small mobiles */
@media (max-width: 480px) {

    #skills .skill_block {
        padding: 0;
        text-align: center;
    }
}